@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$primary-color: #FFFF;
$secondary-color: #f8f9fa;
$accent-color: #0056b3;

.navbar {
  background-color: $primary-color;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;

    .navbar-logo {
      color: #040404;
      font-size: 24px;
      text-decoration: none;
      font-weight: bold;
    }
    .logostyles{
      width: 40%;
    }

    .navbar-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;

      .navbar-item {
        color: #111111;
        text-decoration: none;
        padding: 0 15px;
        font-size: 18px;
        // font-family: ;
        transition: color 0.3s ease;

        &:hover {
          color: $accent-color;
        }
      }
    }

    .navbar-toggle {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    height: auto;

    .navbar-container {
      flex-direction: column;

      .navbar-menu {
        display: none;

        &.open {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 10px 0;
          max-height: 0;
          overflow: hidden;

          &.open {
            max-height: 500px;
          }

          .navbar-item {
            padding: 10px 15px;
          }
        }
      }

      .navbar-toggle {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 40px;
        height: 30px;
        cursor: pointer;

        span {
          width: 100%;
          height: 4px;
          background-color: #fff;
          transition: background-color 0.3s ease;

          &:first-child {
            transform-origin: top left;
            transform: rotate(45deg) translate(2px, 4px);
          }

          &:nth-child(2) {
            opacity: 1;
          }

          &:last-child {
            transform-origin: bottom left;
            transform: rotate(-45deg) translate(2px, -4px);
          }
        }
      }
    }
  }
}
